<!DOCTYPE html>
<html>
  <head>
    <title>Powered By Paketo Buildpacks</title>
  </head>
  <body>
    <p> hello from Tanzu </p>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="https://blogs.vmware.com/cloudprovider/files/2021/11/tanzu-logo.png"></img>
   </body>
</html>









